@CHARSET "UTF-8";
*{
	padding:0px;
	margin:0;
}

body{
	width:960px;
	margin:10px auto;
}

#header{
	width:auto;
	height:150px;
	border:1px solid #ccc;
	margin-bottom:10px;

}

#header h1 a{
	font-size:14px;
	width:210px;
	height:39px;
	display:block;
	color:red;
	text-indent:-9990px;

}

#header h1 {
	font-size:12px;
	width:210px;
	height:39px;
	margin:40px 0 0 50px;
}

#header ul{
	list-style-type:none;
	float:right;
	margin-top:20px;
	margin-right:15px;

}

#header ul li{
	display:inline;
	font-size:14px;
}
#header ul li a.manager{
	color:red;
}
#header ul li strong.noread {
	background:url(../../images/noread.gif) no-repeat left center;
	padding:0 0 0 18px;
}

#header ul li strong.read {
	background:url(../../images/meg.gif) no-repeat left center;
	padding:0 0 0 18px;
}

h2 {
	font-size:14px;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:10px;
}

a{
	text-decoration:none;
}

#header a:hover{
	color:red;
	text-decoration:underline;
}


#footer {
	clear:both;
	width:auto;
	height:60px;
	text-align:center;
	padding:10px 0 0 0;
	border:2px solid #ccc;
}

#footer p{
	font-size:14px;
	margin-top:3px;
}

#footer span{
	color:#06f;
}