@CHARSET "UTF-8";
#member{
	width:atuo;
	height:500px;
	border:2px solid #ccc;
	margin-bottom:10px;
}

#member #member_sidebar{
	width:300px;
	height:480px;
	border:2px solid #ccc;
	margin:10px;
	float:left;
}


#member #member_sidebar h2{
	text-align:center;
	height:20px;
	line-height:20px;
}

#member #member_sidebar dl{
	margin:15px;
}

#member #member_sidebar dl dt{
	background:#aaa;
	height:40px;
	text-align:center;
	line-height:40px;
	color:white;
}

#member #member_sidebar dl dt a{
	display:block;
	width:auto;
	height:40px;
	color:black;
	background:#aaa;
}

#member #member_sidebar dl dd{
	background:#ccc;
	height:40px;
	text-align:center;
	line-height:40px;
	color:white;
}

#member #member_sidebar dl dd a{
	display:block;
	width:auto;
	height:40px;
	color:black;
}
#member #member_sidebar dl dd a:hover{
	color:white;
	background:#bbb;
	
}

#member #member_message{
	width:600px;
	height:480px;
	border:2px solid #ccc;
	margin:10px;
	float:right;
}

#member #member_message h2{
	text-align:center;
	height:20px;
	line-height:20px;
}

#member #member_message table{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	text-align:center;
	background:#ccc;
}

#member #member_message table th,#member #member_message table td{
		background:#fff;
		line-height:150%;
		padding:2px;
}

#member #member_message table td{
	font-size:13px;
}

#member #member_message table td a{
	color:#555;
}

#member #member_message table td a:hover{
	text-decoration:underline;
}

#member #member_message form input.text{
	margin:20px 5px 0 200px;
}
#page_text{
	padding-top:5px;
	clear:both;
	height:30px;
	position:relative;
}

#page_text ul{
	list-style-type:none;
	text-align:center;
	font-size:12px;
}

#page_text ul li{
	display:inline;
}